//- h1 Hola mundo

//- ul
//-   li Item 1

//- a(href="#") soy un 

//- img(src="foto.jpg", alt="soy una foto")
//- img(src="foto.jpg" alt="soy una foto")

//- p#first-text párrafo con ID
//- p.text.text2.text3 párrafo con ID
//- p#first-text.text párrafo con ID

//- p Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit doloremque maiores amet nam 
//-   a(href="#") quos
//-   |itaque neque molestias, blanditiis, architecto unde iure! Veritatis numquam expedita rem consectetur molestiae atque doloribus.

//- ul.menu: li.menu__item: a(href="#").menu__link Item 1

doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./css/styles.css")
  body
    div





    div:  -const persona={nombre:'Danny',mail:'ryu@mail.com',otro:'otro'}
          //- tiene que ser inverso en el each
          each valor,llave in persona
            p= `${llave}:${valor}`
          else
            span NO FUNCIONA


    div
      -const names =['primero','segundo', 'tercero','cuarto']
      |
      //- ? names : ['error']
      each nombre in names
          p= `${nombre.charAt(0).toUpperCase()}${nombre.substring(1)}` 
          //- charAt(0) selecciona primera letra y substring (1) minuscula de la segunda letra en adelante
    div
      |
      each user,indice in names
        p= `${indice+1}:${user.charAt(0).toUpperCase()}${user.substring(1)}`
      else
        p= 'NO NUMERA'
        span NO NUmeRA
    div: |
      -let n=0
        ul: while n<20
              li= n++
      
    div: img(src="https://liceotecnicotalcahuano.cl/wp-content/uploads/2017/09/cropped-LOGO.png", alt="logo liceo")
    header
      nav#main-nav
        ul.main-menu
          li: a(href="#") Item 1
          li: a(href="#") Item 2
          li: a(href="#") Item 3
          li: a(href="#") Item 4
          li: a(href="https://www.google.com") google
    div
      iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSe087ChpMk9e-LTFlaLcO9WWiGPY44xPK4b264DczkBIYGMNg/viewform?embedded=true", frameborder="0") Cargando...
